<html>
<body>
<pre>
    index html
    1:$!{val}
    2:${val}
    3:$val
    4:$!val
    5:$!{vall}
    1:$!{vall}
    2:${vall}sdfa
    4:$!vall

    adddf


    6:#foreach(${var} in ${list})
        ${foreach.index}/${foreach.count}   ${var}

      #end

    6_:#foreach($var in ${list})
    ${foreach.index}/${foreach.count}   ${var}

    #end
    7:#foreach(${var} in ${map.entrySet()})
        ${foreach.index}/${foreach.count}   ${var.key}:${var.value}
        #end

    8:$!{user.name}
9:$!{user.getName()}
    9:$!{user.getName}
#set($title = "yxphappy")
    Include:#include("head.vm")<br>
    dfas
    Parse:#parse("head.vm")
    dfasdfa
</pre>
</body>
</html>